<div ng-app>
    <div class="jumbotron">
        <h1>AI Battles</h1>
        <p class="lead">AI Battles is a competition platform for artificial intelligence (AI) on the web.</p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Using Angular</h2>
            <p>
                Nothing here {{'yet' + '!'}}
            </p>
        </div>
    </div>
</div>
